@charset "UTF-8";
/* Bass
----------------------------------------------------------------*/
.clearfix::after {
  content: "";
  clear: both;
  display: block; }

html {
  font-size: 62.5%; }

body {
  color: #000000;
  font-size: 1.2rem;
  font-family: "游ゴシック", YuGothic, "メイリオ", Verdana, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  line-height: 1.6;
  letter-spacing: 0.01em;
  background-color: #f9f8f6; }

h3 {
  font-size: 1.6rem;
  color: #887f69; }

h4 {
  color: #887f69; }

/* header
----------------------------------------------------------------*/
#page_container {
  width: 95%;
  margin: 0 10px 0 10px;
  /* header
  ----------------------------------------------------------------*/ }
  @media (min-width: 550px) {
    #page_container {
      max-width: 942px;
      width: 90%;
      margin: 0 auto; } }
  #page_container header .logo {
    display: inline;
    text-align: center; }
    @media (min-width: 550px) {
      #page_container header .logo {
        float: left;
        margin: 22px 0 8px 0; } }
  @media (min-width: 550px) {
    #page_container header .logo_sp {
      display: none; } }
  @media (max-width: 549px) {
    #page_container header .logo_pc {
      display: none; } }
  #page_container header #PC_menu {
    width: 60%;
    max-width: 437px;
    float: right; }
    #page_container header #PC_menu .PC_menu_li {
      margin: 0;
      margin-top: 52px;
      padding: 0; }
      #page_container header #PC_menu .PC_menu_li .PC_menu_item {
        list-style: none;
        margin: 0 0 0 0;
        padding: 0 0 0 0;
        display: inline-block; }
        #page_container header #PC_menu .PC_menu_li .PC_menu_item a {
          float: left; }
      #page_container header #PC_menu .PC_menu_li .text_menu {
        padding-right: 22px; }
      #page_container header #PC_menu .PC_menu_li #text_menu_4 {
        padding-right: 16px; }
      #page_container header #PC_menu .PC_menu_li #img_menu_1 {
        padding-right: 10px; }
    @media (max-width: 549px) {
      #page_container header #PC_menu {
        display: none; } }
  #page_container header #SP_menu .SP_menu_li {
    text-align: center;
    margin: 0;
    padding: 0; }
    #page_container header #SP_menu .SP_menu_li .SP_menu_item {
      list-style: none;
      margin: 0 13px 0 0;
      padding: 0 0 0 0;
      display: inline-block; }
      #page_container header #SP_menu .SP_menu_li .SP_menu_item a {
        float: left; }
    #page_container header #SP_menu .SP_menu_li #SP_img_menu_3 {
      margin-right: 0; }
    #page_container header #SP_menu .SP_menu_li #hamburger_menu_container {
      display: inline-block; }
      #page_container header #SP_menu .SP_menu_li #hamburger_menu_container #hamburger_menu {
        cursor: pointer; }
    #page_container header #SP_menu .SP_menu_li .SP_sub_menu_li_container {
      position: absolute;
      z-index: 100;
      width: 95%; }
    #page_container header #SP_menu .SP_menu_li .SP_sub_menu_li {
      display: none;
      list-style: none;
      text-align: center;
      padding: 0; }
      #page_container header #SP_menu .SP_menu_li .SP_sub_menu_li .SP_sub_menu_item {
        box-sizing: border-box;
        height: 50px;
        padding-top: 16px;
        background: #f9f8f6;
        border: solid 1px #887f69; }
  @media (min-width: 550px) {
    #page_container header #SP_menu {
      display: none; } }

/* cover_area
----------------------------------------------------------------*/
/*
.owl-item {
    width: auto !important;
}
*/
.owl-dots {
  margin: 0 !important;
  text-align: left !important; }

.owl-dot span {
  margin: auto 10px auto 0 !important;
  height: 2px !important;
  width: 25px !important;
  background: #aaaaaa !important;
  border-radius: 0 !important; }

.active span {
  margin: auto 10px auto 0 !important;
  height: 2px !important;
  width: 25px !important;
  background: #9d1a2d !important;
  border-radius: 0 !important; }

/* main_container
----------------------------------------------------------------*/
#main_container {
  width: 100%; }

/* Main
----------------------------------------------------------------*/
#main {
  box-sizing: border-box; }
  @media (min-width: 550px) {
    #main {
      float: left;
      width: 75.3%; } }
  #main .contents_title {
    background-repeat: no-repeat;
    height: 30px; }
  #main .item_container {
    box-sizing: border-box;
    float: left;
    width: 50%;
    padding: 10px 10px 20px 10px;
    background: white;
    border: solid 1px #f9f8f6; }
    @media (min-width: 550px) {
      #main .item_container {
        width: 33.3%;
        padding: 15px 15px 25px 15px; } }
    #main .item_container .item_img {
      width: 100%;
      height: auto; }
  #main .contents_title {
    width: 100%;
    height: auto;
    margin: 30px 0; }
    @media (max-width: 549px) {
      #main .contents_title {
        display: none; } }
  #main .sp_contents_title {
    text-align: center;
    margin: 20px 0; }
    @media (min-width: 550px) {
      #main .sp_contents_title {
        display: none; } }
  @media (min-width: 550px) {
    #main .flex-box {
      display: -webkit-flex;
      display: flex; } }
  #main .flex-box .guide_container {
    box-sizing: border-box;
    background: white;
    padding: 20px 20px 30px 20px; }
    @media (min-width: 550px) {
      #main .flex-box .guide_container {
        width: 50%; } }
    #main .flex-box .guide_container img {
      max-width: 100%;
      height: auto; }
  #main .flex-box #guide_container1 {
    border-right: solid 1px #f9f8f6;
    margin-bottom: 5px; }
    @media (min-width: 550px) {
      #main .flex-box #guide_container1 {
        margin-bottom: 0; } }
  #main .flex-box #guide_container2 {
    border-left: solid 1px #f9f8f6; }

/* side_bar
----------------------------------------------------------------*/
#side_bar {
  /* #item_search
  ----------------------------------------------------------------*/
  /* side_ber_Menu
  ----------------------------------------------------------------*/ }
  @media (min-width: 550px) {
    #side_bar {
      float: right;
      width: 22.5%; } }
  #side_bar #item_search {
    background: white;
    padding: 20px;
    margin-bottom: 15px;
    margin-top: 15px; }
    @media (min-width: 550px) {
      #side_bar #item_search {
        margin-bottom: 10px;
        margin-top: 0; } }
    #side_bar #item_search .item_search_title {
      margin-bottom: 10px; }
    #side_bar #item_search .search_box {
      margin-bottom: 50px; }
      #side_bar #item_search .search_box form {
        position: relative;
        /* 基準位置とする */ }
        #side_bar #item_search .search_box form input[type="search"] {
          background-color: #eeeeee;
          border: 0;
          width: 100%;
          height: 30px;
          position: absolute;
          /* 絶対配置 */
          left: 0;
          top: 0; }
        #side_bar #item_search .search_box form input[type="image"] {
          border: 0;
          padding: 7px 9px 7px 0;
          position: absolute;
          /* 絶対配置 */
          right: 0;
          top: 0; }
  #side_bar #page_link {
    margin-bottom: 9px; }
    #side_bar #page_link a {
      margin-right: 3px;
      background-repeat: no-repeat;
      background-image: url("../images/top/next_icon.png");
      background-position: right; }
  #side_bar #categories a {
    background-repeat: no-repeat;
    background-image: url("../images/top/down_icon.png");
    background-position: right; }
  #side_bar #Category_last {
    margin-bottom: 9px; }
  #side_bar .side_bar_main_menu {
    width: 100%;
    box-sizing: border-box;
    background: #887f69;
    height: 45px;
    padding: 14px 8px 0 15px;
    border-bottom: solid 1px #f9f8f6;
    text-decoration: none; }
    #side_bar .side_bar_main_menu a {
      display: block;
      text-decoration: none;
      color: white; }
  #side_bar #shop_info_title {
    margin-top: 9px; }
    @media (min-width: 550px) {
      #side_bar #shop_info_title {
        margin-top: 0; } }
  #side_bar .side_bar_sub_menu {
    width: 100%;
    box-sizing: border-box;
    background: white;
    height: 45px;
    padding: 14px 8px 0 15px;
    border-bottom: solid 1px #f9f8f6; }
    #side_bar .side_bar_sub_menu a {
      display: block;
      text-decoration: none;
      color: black;
      margin-right: 3px;
      background-repeat: no-repeat;
      background-image: url("../images/top/next_icon_gray.png");
      background-position: right; }
  #side_bar .side_bar_contents_container {
    box-sizing: border-box;
    padding: 15px 15px 20px 15px;
    margin-bottom: 10px;
    background: white;
    width: 100%; }
  #side_bar .side_bar_img {
    float: left;
    width: 50%;
    height: auto;
    padding-right: 15px;
    box-sizing: border-box; }
    @media (min-width: 550px) {
      #side_bar .side_bar_img {
        width: 100%;
        float: none;
        padding-right: 0; } }
  #side_bar .side_bar_btn_container {
    text-align: center; }
  #side_bar .side_text_btn {
    overflow: auto; }
  #side_bar .side_bar_text {
    padding: 0;
    margin: 0; }
  #side_bar .side_bar_btn .side_bar_btn_img {
    display: block;
    margin-top: 15px;
    max-width: 70%; }
    @media (min-width: 550px) {
      #side_bar .side_bar_btn .side_bar_btn_img {
        margin: 20px auto 0 auto; } }

#page_top_container {
  width: 100%;
  padding-bottom: 20px;
  border-bottom: solid 1px #887f69; }
  #page_top_container #page_top {
    margin-top: 60px;
    text-align: center; }
    @media (min-width: 550px) {
      #page_top_container #page_top {
        float: right; } }
    #page_top_container #page_top #page_top_img {
      width: 90px; }
      @media (min-width: 550px) {
        #page_top_container #page_top #page_top_img {
          width: auto; } }

/* footer
----------------------------------------------------------------*/
footer .footer_text_container {
  text-align: center;
  margin: 35px 0 30px 0; }
  footer .footer_text_container a {
    text-decoration: none;
    color: black; }
  footer .footer_text_container .footer_dot {
    margin-right: 10px;
    margin-left: 10px; }
    @media (min-width: 550px) {
      footer .footer_text_container .footer_dot {
        margin-right: 18px;
        margin-left: 18px; } }
  footer .footer_text_container .footer_text {
    display: inline; }
footer #copyright {
  text-align: center;
  color: #bcbcbc;
  margin-bottom: 155px; }

/*# sourceMappingURL=style.css.map */
