@import "compass";

// font-family
$baseFontFamily :"游ゴシック", YuGothic, "メイリオ",Verdana, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;

// colors
$baseColor: #f9f8f6;
$subColor: #887f69;
$keyColor: #449F55;
$fontColor: #000000;
$lineColor: #e8e4da;

// 

@mixin back_next_navi {
        box-sizing: border-box;
        background: $subColor;
        color: $baseColor;
        text-transform: uppercase;
        width: 120px;
        height: 40px;
        font-weight: bold;
        padding-top: 10px;
        margin-top: 0;
    }

/* Bass
----------------------------------------------------------------*/



.clearfix::after {
  content: "";
  clear: both;
  display: block;
}



html{ font-size: 62.5%; }

body{
    color: $fontColor;
    font-size: 1.2rem;
    font-family: $baseFontFamily;
    line-height: 1.6;
    letter-spacing: 0.01em;
    background-color: $baseColor;
}

h3{
    font-size: 1.6rem;
    color: $subColor;
}

h4{
    color: $subColor;
}



/* header
----------------------------------------------------------------*/

#page_container {
        width: 95%;
        margin: 0 10px 0 10px;
        
    //PC表示
    @media (min-width: 550px){
        max-width: 942px;
        width: 90%;
        margin: 0 auto;
    }
    
/* header
----------------------------------------------------------------*/
    header{
        .logo{
            display: inline;
            text-align: center;
            
            //PC表示
            @media (min-width: 550px){
            float: left;
            margin: 22px 0 8px 0;
            }
        }
        
        .logo_sp{
            @media(min-width: 550px){
                display: none;
            }
        }
        
        .logo_pc{
            @media(max-width: 549px){
                display: none;
            }
        }
        
        #PC_menu{
            
            width: 60%;
            max-width:437px;
            float: right;
                
            .PC_menu_li{
                //list-style-type: none;
                //float: right;
                margin: 0;
                margin-top: 52px;
                padding: 0;
                
                    
                .PC_menu_item{    
                    list-style: none;
                    margin: 0 0 0 0;
                    padding: 0 0 0 0;
                    display: inline-block;
                    
                    

                    a {
                        float: left;
                    }   
                }
                
                .text_menu{
                    padding-right: 22px;
                }
                
                #text_menu_4{
                        padding-right: 16px;
                }
                
                #img_menu_1{
                    padding-right: 10px;
                }
                
            }
            
            @media (max-width: 549px) {
                display: none;
            }
            
        } //PCメニュー
        
        #SP_menu{
                
            .SP_menu_li{
                //list-style-type: none;
                //float: right;
                text-align: center;
                margin: 0;
                padding: 0;
                
                    
                .SP_menu_item{    
                    list-style: none;
                    margin: 0 13px 0 0;
                    padding: 0 0 0 0;
                    display: inline-block;
                    
                    

                    a {
                        float: left;
                    }   
                }
                
                #SP_img_menu_3{
                    margin-right: 0;
                }
                
                #hamburger_menu_container{
                    
                    display: inline-block;
                    
                    
                    #hamburger_menu{
                    cursor: pointer;
                    }
                    
                }
                
                
                .SP_sub_menu_li_container{
                    position:absolute;
                    z-index: 100;
                    width: 95%;
                    box-shadow:3px 3px rgba(0,0,0,0.2);
                }
                
                .SP_sub_menu_li{
                    display: none;
                    list-style: none;
                    text-align: center;
                    padding: 0;
                    
                    
                    .SP_sub_menu_item{
                        box-sizing: border-box;
                        height: 50px;
                        padding-top: 16px;
                        background: $baseColor;
                        border: solid 1px $subColor;
                        
                        .SP_sub_menu_item_a{
                            display: block;
                        }
                    }
                }
                
            }
            
            @media (min-width: 550px) {
                display: none;
            }
            
        } //SPメニュー
    }
    
}


/* cover_area
----------------------------------------------------------------*/
/*
.owl-item {
    width: auto !important;
}
*/


.owl-theme .owl-nav.disabled+.owl-dots{
    margin: 0;
    text-align: left;
}

.owl-theme .owl-dots .owl-dot span {
    margin: auto 10px auto 0;
    height: 2px;
    width: 25px;
    background: #aaaaaa;
    border-radius: 0;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    margin: auto 10px auto 0;
    height: 2px;
    width: 25px;
    background: #9d1a2d;
    border-radius: 0;
}

/*.owl-dots{
    margin: 0 !important;
    text-align: left !important;
}

.owl-dot span {
    margin: auto 10px auto 0 !important;
    height: 2px !important;
    width: 25px !important;
    background: #aaaaaa !important;
    border-radius: 0 !important;
}

.active span {
    margin: auto 10px auto 0 !important;
    height: 2px !important;
    width: 25px !important;
    background: #9d1a2d !important;
    border-radius: 0 !important;
}*/


/* main_container
----------------------------------------------------------------*/

#main_container{
    width: 100%;
}


/* Main
----------------------------------------------------------------*/

#main{
    box-sizing: border-box;
    
    @media (min-width: 550px){
        float: left;
        width: 75.3%;
    }
        
    
    
    .contents_title{
        background-repeat: no-repeat;
        height: 30px;
    }
    
    .item_container{
        box-sizing: border-box;
        float: left;
        width: 50%;
        padding: 10px 10px 20px 10px;
        background: white;
        border: solid 1px $baseColor;
        
        @media(min-width: 550px){
            width: 33.3%;
            padding: 15px 15px 25px 15px;
        }
        
        .item_img{
            width: 100%;
            height: auto;
        }
    }
    
    .contents_title{
        width: 100%;
        height: auto;
        margin: 30px 0;
        
        @media (max-width: 549px){
            display: none;
        }
    }
    
    .sp_contents_title{
        
        text-align: center;
        margin: 20px 0;
        
        @media (min-width: 550px){
            display: none;
        }
    }
    
    
    
    .flex-box {
      //display: -webkit-flex;
      //display:         flex;
      
      
        @media (min-width: 550px){
            
            display: -webkit-flex;
            display:         flex;
            
        }
        
        .guide_container{
            box-sizing: border-box;
            background: white;
            padding: 20px 20px 30px 20px;
            
            
            @media (min-width: 550px){
            width: 50%;
        }
            
            
            img{
                max-width: 100%;
                height:auto;
            }
        }
        
        #guide_container1{
        
           border-right: solid 1px $baseColor;
           margin-bottom: 5px;
           
           
           @media (min-width: 550px){
                margin-bottom: 0;
            }
        }
        
        #guide_container2{
            border-left: solid 1px $baseColor;
        }
    
    }
}

/* side_bar
----------------------------------------------------------------*/

#side_bar{
    
    @media (min-width: 550px){
        float: right;
        width: 22.5%;
    }
    
/* #item_search
----------------------------------------------------------------*/
    
    #item_search{
        background: white;
        padding: 20px;
        margin-bottom: 15px;
        margin-top: 15px;
        
        @media(min-width: 550px){
            margin-bottom: 10px;
            margin-top: 0;
        }
        
        .item_search_title{
            margin-bottom: 10px;
        }
        
        .search_box {
            margin-bottom: 50px;
            
            form {
                position: relative; /* 基準位置とする */
            
                input[type="search"] {
                    
                    background-color: #eeeeee;
                    border: 0;
                    width: 100%;
                    height: 30px;
                    position: absolute; /* 絶対配置 */
                    left: 0;
                    top: 0; 
                }
                
                input[type="image"] {
                    
                    border: 0;
                    padding: 7px 9px 7px 0;
                    position: absolute; /* 絶対配置 */
                    right: 0; 
                    top: 0;
                }
            }
        }
    }//#item_search
    
/* side_ber_Menu
----------------------------------------------------------------*/

    #page_link {
        margin-bottom: 9px;
        
        
        a{
            margin-right: 3px;
            background-repeat: no-repeat;
            background-image: url("../images/top/next_icon.png");
            background-position: right;
            
        }
    }
    
    #categories{
        a{
            background-repeat: no-repeat;
            background-image: url("../images/top/down_icon.png");
            background-position: right;
        }
    }
        
    #Category_last{
        margin-bottom: 9px;
    
    }
    
    
    .side_bar_main_menu{
        width: 100%;
        box-sizing: border-box; 
        background: $subColor;
        height: 45px;
        padding: 14px 8px 0 15px;
        border-bottom: solid 1px $baseColor;
        text-decoration: none;
        
        a{
            
            display: block;
            text-decoration: none;
            color: white;
        }
        
    }
    
    #shop_info_title{
        margin-top: 9px;
        
        @media (min-width: 550px){
            margin-top: 0;
        }
    }
    
    .side_bar_sub_menu{
        width: 100%;
        box-sizing: border-box; 
        background: white;
        height: 45px;
        padding: 14px 8px 0 15px;
        border-bottom: solid 1px $baseColor;
        
        a {
            display: block;
            text-decoration: none;
            color: black;
            margin-right: 3px;
            background-repeat: no-repeat;
            background-image: url("../images/top/next_icon_gray.png");
            background-position: right;
            
        }
    }
    
    
    .side_bar_contents_container{
        box-sizing: border-box;
        padding: 15px 15px 20px 15px;
        margin-bottom: 10px;
        background:white;
        width:100%;
    }
    
    
    .side_bar_img{
        float: left;
        width: 50%;
        height: auto;
        padding-right: 15px;
        box-sizing: border-box;
        
        @media(min-width: 550px){
            width: 100%;
            float: none;
            padding-right: 0;
        }
    }
    
    
    .side_bar_btn_container{
        text-align:center;
    }
    
    .side_text_btn{
        overflow: auto;
    }
    
    .side_bar_text{
        padding: 0;
        margin: 0;
    }
    
    .side_bar_btn{
        
        .side_bar_btn_img{
            display: block;
            margin-top: 15px;
            max-width: 70%;
            
            @media (min-width: 550px){
                margin: 20px auto 0 auto;
            }
        }
    }
    
    
}// side_bar

#page_top_container{
    width:100%;
    padding-bottom: 20px;
    border-bottom: solid 1px $subColor;
    
    #page_top {
        margin-top: 60px;
        text-align: center;
        
        
        @media(min-width: 550px){
            float:right;
        }
        
        #page_top_img{
            width: 90px;
            
            @media(min-width: 550px){
                width: auto;
            }
            
        }
        
    }
}


/* footer
----------------------------------------------------------------*/

footer{
    
    .footer_text_container{
        
        text-align: center;
        margin: 35px 0 30px 0;
        
        a{
            text-decoration: none;
            color: black;
        }
        
        .footer_dot{
            margin-right: 10px;
            margin-left: 10px;
            
            @media (min-width: 550px){
                margin-right: 18px;
                margin-left: 18px;
            }
        }
        
        .footer_text{
            display: inline;
        }
    }
    
    #copyright{
        text-align: center;
        color: #bcbcbc;
        margin-bottom: 155px;
    }

}



/* list.html
----------------------------------------------------------------*/




.breadcrumbs {
        
    background: $lineColor;
    height: 35px;
    margin: 0;
    margin-bottom: 10px;
    border-radius: 5px;
    
    .breadcrumbs_container{
        
        padding: 8px 0 0 10px;
        
        p {
            margin: 0;
        
            .slash{
                margin: 0 5px 0 5px;
                color: $subColor;
            }
            
        }
        
        .breadcrumbs_text a {
            text-decoration: none;
            color: $subColor;
        }
        
        .breadcrumbs_home {
            display: inline-block;
            background-repeat: no-repeat;
            background-image: url("../images/list/home_icon.png");
            background-position: left;
            padding-left: 20px;
        }
    
    }
}


#list_cover_area img {
    width:100%;
    margin-bottom: 5px;
}



/* #back_next_navi
----------------------------------------------------------------*/
.back_next_navi{
    margin: 20px 0 3px 0;
}


.back_navi_a{
    text-decoration: none;
    text-align: center;
    float: left;

    .back_navi{
        @include back_next_navi;
    }
}

.next_navi_a{
    text-decoration: none;
    text-align: center;

    .next_navi{
        @include back_next_navi;
        float: right;
    }
}






/* products.html
----------------------------------------------------------------*/



/* .product_name
----------------------------------------------------------------*/

.products_back{
    background: white;
    margin:0 -2.5% 0 -2.5%;
    
    @media (min-width: 550px){
            margin: 0;
        }
    
    
    .products_container{
        margin: auto;
        width: 95%;
        
        @media (min-width: 550px){
            width: 82.9%;
        }
        
        .product_name_container{
            
            padding: 20px 0 16px 0;
            border-bottom: solid 1px $lineColor;
            margin-bottom: 10px;
            
            @media (min-width: 550px){
                padding: 40px 0 30px 0;
                margin-bottom: 20px;
            }
    
            .product_name {
                font-size: 1.4rem;
                font-weight: bold;
              
                @media (min-width: 550px){
                    float: left;
                }
            }
            
            .serial_number {
                font-size: 1rem;
                color: #a6a6a6;
                
                @media (min-width: 550px){
                    float: right;
                }
            }
            
        }  //   .product_name_container
        
        
/* .product_img
----------------------------------------------------------------*/
        
        .product_img_container{
            border-bottom: solid 1px $lineColor;
            padding-bottom: 11px;
            
            @media (min-width: 550px){
                padding-bottom: 6px;
            }
            
            #display_img {
                margin-bottom: 4px;
                
                @media (min-width: 550px){
                    float: left;
                    width: 70.6%;
                    margin-bottom: 0;
                }
                
                img{
                    width: 100%;
                }
            }
            
            #list_img {
                
                list-style-type: none;
                padding: 0;
                margin: 0;
                height: auto;
                
                
                @media (min-width: 550px){
                    float: right;
                    width: 29.3%;
                }
           
                
                li{   
                    float: left;
                    width: 18.4%;
                    margin-right: 2%;
                    font-size: 0;
                    
                    @media (min-width: 550px){
                        float: left;
                        width: 44.1%;
                        margin-left: 5%;
                        margin-bottom: 5%;
                        margin-right: 0%;
                    }
                    
                    img{
                        width:100%;
                    }
                } //  li
                
                .sp_menu_item_early{
                    margin-bottom: 2%;
                    
                    @media (min-width: 550px){
                        margin-bottom: 5%;
                    }
                }
                
                #menu_item_05, #menu_item_10{
                        margin-right: 0;
                    }
                
                
                
            }  //   #list_img
            
        } //  .product_img_container
        
        
        
/* Color_Size
----------------------------------------------------------------*/
        
        .color_container{
            
            margin-bottom: 20px;
        
            .color_img{
                margin: 17px 0 17px 0;
                
                @media (min-width: 550px){
                    margin: 20px 0 20px 0;
                }
            }
            
            .color_table {
                width: 100%;
                
                
                th,td{
                    text-align: center;
                    border: solid 1px $lineColor;
                    height: 40px;
                    color: $subColor;
                    
                    
                    /* checkbox
                    ----------------------------------------------------------------*/
                    
                    .checkbox01-input{
                        display: none;
                    }
                    .checkbox01-parts{
                        position:relative;
                        margin-right: 20px;
                    }
                    .checkbox01-parts::before{
                        content: "";
                        display: block;
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 15px;
                        height: 15px;
                        border: 1px solid $lineColor;
                        border-radius: 4px;
                    }
                    
                    .checkbox01-input:checked + .checkbox01-parts{
                        color: #009a9a;
                    }
                    
                    .checkbox01-input:checked + .checkbox01-parts::after{
                        content: "";
                        display: block;
                        position: absolute;
                        top: -5px;
                        left: 5px;
                        width: 7px;
                        height: 14px;
                        transform: rotate(40deg);
                        border-bottom: 3px solid $subColor;
                        border-right: 3px solid $subColor;
                    }  //  チェックマークのデザイン
                    
                    //  checkbox
                    
                
                }
                
                th{
                    background: $baseColor;
                }
                
                .td_title{
                    background: $baseColor;
                }
            } //  .color_table
        } //   .color_container
        

/* price、Quantity、add Cart
----------------------------------------------------------------*/
        .price_cart_container{
            
            @media (min-width: 550px){
                border-bottom: solid 1px $lineColor;
            }
            
            .price_quantity_container{
                width: 100%;
                
                @media (min-width: 550px){
                    float:left;
                    width: 57%;
                }
        
                .price_container{
                    
                    padding: 25px 0 25px 0;
                    border-top: solid 1px $lineColor;
                    border-bottom: solid 1px $lineColor;
                    
                    @media (min-width: 550px){
                        padding: 24px 0 24px 0;
                    }
                    
                    img {
                        
                        @media (min-width: 550px){
                            float: left;
                            display: inline-block;
                        }
                    }
                    .price_text p{
                        height: 20px;
                        margin: -30px 0 0 40%;
                        
                        @media (min-width: 550px){
                            float: left;
                            display: inline-block;
                            margin: -12px 0 0 20%;
                        }
                        
                        .price{
                            color: #e80f66;
                            font-size: 2.2rem;
                            
                            .yen{
                                font-size: 1.4rem;
                            }
                        } //   .price_text p
                        
                        .price_tax {
                            font-size: 1.4prem;
                        }
                    } //   .price_text p
                    
                } //   price_container
        
                .quantity_container{
                    padding: 12px 0 12px 0;
                    width: 100%;
                    margin: 0;
                    margin-bottom: 15px;
                    border-bottom: solid 1px $lineColor;
                    
                    @media (min-width: 550px){
                        border-bottom: none;
                        padding: 15px 0 15px 0;
                        margin-bottom: 0;
                    }
                    
                    
                    img{
                        display: inline-block;
                        float:left ;
                        padding-top: 15px;
                    }
                    
                    .quantity_color {
                        float: left;
                        display: inline-block;
                        width: 46%;
                        height: 40px;
                        background: white;
                        border: solid 1px $lineColor;
                        margin-left: 13%;
                    }
                
                } //   .quantity_container
            } //   .price_quantity_container
            
            
            .add_cart_img_container{
                
                text-align: center;
                
                .add_cart_img{
                    
                    @media (min-width: 550px){
                        float: right;
                    }
                }
            }
        } //   .price_cart_container
        
        
/* Description (商品説明)
----------------------------------------------------------------*/
        .description_container{
            padding-bottom: 33px;
            
            @media (min-width: 550px){
                padding-bottom: 80px;
            }
            
            
            .description_title{
                padding: 30px 0 20px 0;
                font-size: 1.6rem;
                font-weight: bold;
                color: $subColor;
                border-bottom: solid 1px $subColor;
                margin-bottom: 30px;
            
                @media (min-width: 550px){
                    padding: 40px 0 20px 0;
                    
                }
            }
            
            .description_subtitle{
                font-size: 1.6rem;
                font-weight: bold;
                color: $subColor;
                margin-bottom: 20px;
            }
            
            .description_text{
                font-size: 1.4rem;
                margin-bottom: 30px;
            }
        
            .description_table{
                width: 100%;
                height: 40px;
                
                th,td{
                    font-weight: normal;
                    border: solid 1px $lineColor;
                    color: $subColor;
                }
                
                th{
                    width: 28%;
                    background: $baseColor;
                }
                
                td{
                    padding: 12px;
                }
                
                
            }
        } //   .description_container
        
        
        
    
    }  //    .products_container
    
} // .products_back