@charset "UTF-8";
/* Bass
----------------------------------------------------------------*/
.clearfix::after {
  content: "";
  clear: both;
  display: block; }

html {
  font-size: 62.5%; }

body {
  color: #000000;
  font-size: 1.2rem;
  font-family: "游ゴシック", YuGothic, "メイリオ", Verdana, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  line-height: 1.6;
  letter-spacing: 0.01em;
  background-color: #f9f8f6; }

h3 {
  font-size: 1.6rem;
  color: #887f69; }

h4 {
  color: #887f69; }

/* header
----------------------------------------------------------------*/
#page_container {
  width: 95%;
  margin: 0 10px 0 10px;
  /* header
  ----------------------------------------------------------------*/ }
  @media (min-width: 550px) {
    #page_container {
      max-width: 942px;
      width: 90%;
      margin: 0 auto; } }
  #page_container header .logo {
    display: inline;
    text-align: center; }
    @media (min-width: 550px) {
      #page_container header .logo {
        float: left;
        margin: 22px 0 8px 0; } }
  @media (min-width: 550px) {
    #page_container header .logo_sp {
      display: none; } }
  @media (max-width: 549px) {
    #page_container header .logo_pc {
      display: none; } }
  #page_container header #PC_menu {
    width: 60%;
    max-width: 437px;
    float: right; }
    #page_container header #PC_menu .PC_menu_li {
      margin: 0;
      margin-top: 52px;
      padding: 0; }
      #page_container header #PC_menu .PC_menu_li .PC_menu_item {
        list-style: none;
        margin: 0 0 0 0;
        padding: 0 0 0 0;
        display: inline-block; }
        #page_container header #PC_menu .PC_menu_li .PC_menu_item a {
          float: left; }
      #page_container header #PC_menu .PC_menu_li .text_menu {
        padding-right: 22px; }
      #page_container header #PC_menu .PC_menu_li #text_menu_4 {
        padding-right: 16px; }
      #page_container header #PC_menu .PC_menu_li #img_menu_1 {
        padding-right: 10px; }
    @media (max-width: 549px) {
      #page_container header #PC_menu {
        display: none; } }
  #page_container header #SP_menu .SP_menu_li {
    text-align: center;
    margin: 0;
    padding: 0; }
    #page_container header #SP_menu .SP_menu_li .SP_menu_item {
      list-style: none;
      margin: 0 13px 0 0;
      padding: 0 0 0 0;
      display: inline-block; }
      #page_container header #SP_menu .SP_menu_li .SP_menu_item a {
        float: left; }
    #page_container header #SP_menu .SP_menu_li #SP_img_menu_3 {
      margin-right: 0; }
    #page_container header #SP_menu .SP_menu_li #hamburger_menu_container {
      display: inline-block; }
      #page_container header #SP_menu .SP_menu_li #hamburger_menu_container #hamburger_menu {
        cursor: pointer; }
    #page_container header #SP_menu .SP_menu_li .SP_sub_menu_li_container {
      position: absolute;
      z-index: 100;
      width: 95%;
      box-shadow: 3px 3px rgba(0, 0, 0, 0.2); }
    #page_container header #SP_menu .SP_menu_li .SP_sub_menu_li {
      display: none;
      list-style: none;
      text-align: center;
      padding: 0; }
      #page_container header #SP_menu .SP_menu_li .SP_sub_menu_li .SP_sub_menu_item {
        box-sizing: border-box;
        height: 50px;
        padding-top: 16px;
        background: #f9f8f6;
        border: solid 1px #887f69; }
        #page_container header #SP_menu .SP_menu_li .SP_sub_menu_li .SP_sub_menu_item .SP_sub_menu_item_a {
          display: block; }
  @media (min-width: 550px) {
    #page_container header #SP_menu {
      display: none; } }

/* cover_area
----------------------------------------------------------------*/
/*
.owl-item {
    width: auto !important;
}
*/
.owl-theme .owl-nav.disabled + .owl-dots {
  margin: 0;
  text-align: left; }

.owl-theme .owl-dots .owl-dot span {
  margin: auto 10px auto 0;
  height: 2px;
  width: 25px;
  background: #aaaaaa;
  border-radius: 0; }

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  margin: auto 10px auto 0;
  height: 2px;
  width: 25px;
  background: #9d1a2d;
  border-radius: 0; }

/*.owl-dots{
    margin: 0 !important;
    text-align: left !important;
}

.owl-dot span {
    margin: auto 10px auto 0 !important;
    height: 2px !important;
    width: 25px !important;
    background: #aaaaaa !important;
    border-radius: 0 !important;
}

.active span {
    margin: auto 10px auto 0 !important;
    height: 2px !important;
    width: 25px !important;
    background: #9d1a2d !important;
    border-radius: 0 !important;
}*/
/* main_container
----------------------------------------------------------------*/
#main_container {
  width: 100%; }

/* Main
----------------------------------------------------------------*/
#main {
  box-sizing: border-box; }
  @media (min-width: 550px) {
    #main {
      float: left;
      width: 75.3%; } }
  #main .contents_title {
    background-repeat: no-repeat;
    height: 30px; }
  #main .item_container {
    box-sizing: border-box;
    float: left;
    width: 50%;
    padding: 10px 10px 20px 10px;
    background: white;
    border: solid 1px #f9f8f6; }
    @media (min-width: 550px) {
      #main .item_container {
        width: 33.3%;
        padding: 15px 15px 25px 15px; } }
    #main .item_container .item_img {
      width: 100%;
      height: auto; }
  #main .contents_title {
    width: 100%;
    height: auto;
    margin: 30px 0; }
    @media (max-width: 549px) {
      #main .contents_title {
        display: none; } }
  #main .sp_contents_title {
    text-align: center;
    margin: 20px 0; }
    @media (min-width: 550px) {
      #main .sp_contents_title {
        display: none; } }
  @media (min-width: 550px) {
    #main .flex-box {
      display: -webkit-flex;
      display: flex; } }
  #main .flex-box .guide_container {
    box-sizing: border-box;
    background: white;
    padding: 20px 20px 30px 20px; }
    @media (min-width: 550px) {
      #main .flex-box .guide_container {
        width: 50%; } }
    #main .flex-box .guide_container img {
      max-width: 100%;
      height: auto; }
  #main .flex-box #guide_container1 {
    border-right: solid 1px #f9f8f6;
    margin-bottom: 5px; }
    @media (min-width: 550px) {
      #main .flex-box #guide_container1 {
        margin-bottom: 0; } }
  #main .flex-box #guide_container2 {
    border-left: solid 1px #f9f8f6; }

/* side_bar
----------------------------------------------------------------*/
#side_bar {
  /* #item_search
  ----------------------------------------------------------------*/
  /* side_ber_Menu
  ----------------------------------------------------------------*/ }
  @media (min-width: 550px) {
    #side_bar {
      float: right;
      width: 22.5%; } }
  #side_bar #item_search {
    background: white;
    padding: 20px;
    margin-bottom: 15px;
    margin-top: 15px; }
    @media (min-width: 550px) {
      #side_bar #item_search {
        margin-bottom: 10px;
        margin-top: 0; } }
    #side_bar #item_search .item_search_title {
      margin-bottom: 10px; }
    #side_bar #item_search .search_box {
      margin-bottom: 50px; }
      #side_bar #item_search .search_box form {
        position: relative;
        /* 基準位置とする */ }
        #side_bar #item_search .search_box form input[type="search"] {
          background-color: #eeeeee;
          border: 0;
          width: 100%;
          height: 30px;
          position: absolute;
          /* 絶対配置 */
          left: 0;
          top: 0; }
        #side_bar #item_search .search_box form input[type="image"] {
          border: 0;
          padding: 7px 9px 7px 0;
          position: absolute;
          /* 絶対配置 */
          right: 0;
          top: 0; }
  #side_bar #page_link {
    margin-bottom: 9px; }
    #side_bar #page_link a {
      margin-right: 3px;
      background-repeat: no-repeat;
      background-image: url("../images/top/next_icon.png");
      background-position: right; }
  #side_bar #categories a {
    background-repeat: no-repeat;
    background-image: url("../images/top/down_icon.png");
    background-position: right; }
  #side_bar #Category_last {
    margin-bottom: 9px; }
  #side_bar .side_bar_main_menu {
    width: 100%;
    box-sizing: border-box;
    background: #887f69;
    height: 45px;
    padding: 14px 8px 0 15px;
    border-bottom: solid 1px #f9f8f6;
    text-decoration: none; }
    #side_bar .side_bar_main_menu a {
      display: block;
      text-decoration: none;
      color: white; }
  #side_bar #shop_info_title {
    margin-top: 9px; }
    @media (min-width: 550px) {
      #side_bar #shop_info_title {
        margin-top: 0; } }
  #side_bar .side_bar_sub_menu {
    width: 100%;
    box-sizing: border-box;
    background: white;
    height: 45px;
    padding: 14px 8px 0 15px;
    border-bottom: solid 1px #f9f8f6; }
    #side_bar .side_bar_sub_menu a {
      display: block;
      text-decoration: none;
      color: black;
      margin-right: 3px;
      background-repeat: no-repeat;
      background-image: url("../images/top/next_icon_gray.png");
      background-position: right; }
  #side_bar .side_bar_contents_container {
    box-sizing: border-box;
    padding: 15px 15px 20px 15px;
    margin-bottom: 10px;
    background: white;
    width: 100%; }
  #side_bar .side_bar_img {
    float: left;
    width: 50%;
    height: auto;
    padding-right: 15px;
    box-sizing: border-box; }
    @media (min-width: 550px) {
      #side_bar .side_bar_img {
        width: 100%;
        float: none;
        padding-right: 0; } }
  #side_bar .side_bar_btn_container {
    text-align: center; }
  #side_bar .side_text_btn {
    overflow: auto; }
  #side_bar .side_bar_text {
    padding: 0;
    margin: 0; }
  #side_bar .side_bar_btn .side_bar_btn_img {
    display: block;
    margin-top: 15px;
    max-width: 70%; }
    @media (min-width: 550px) {
      #side_bar .side_bar_btn .side_bar_btn_img {
        margin: 20px auto 0 auto; } }

#page_top_container {
  width: 100%;
  padding-bottom: 20px;
  border-bottom: solid 1px #887f69; }
  #page_top_container #page_top {
    margin-top: 60px;
    text-align: center; }
    @media (min-width: 550px) {
      #page_top_container #page_top {
        float: right; } }
    #page_top_container #page_top #page_top_img {
      width: 90px; }
      @media (min-width: 550px) {
        #page_top_container #page_top #page_top_img {
          width: auto; } }

/* footer
----------------------------------------------------------------*/
footer .footer_text_container {
  text-align: center;
  margin: 35px 0 30px 0; }
  footer .footer_text_container a {
    text-decoration: none;
    color: black; }
  footer .footer_text_container .footer_dot {
    margin-right: 10px;
    margin-left: 10px; }
    @media (min-width: 550px) {
      footer .footer_text_container .footer_dot {
        margin-right: 18px;
        margin-left: 18px; } }
  footer .footer_text_container .footer_text {
    display: inline; }
footer #copyright {
  text-align: center;
  color: #bcbcbc;
  margin-bottom: 155px; }

/* list.html
----------------------------------------------------------------*/
.breadcrumbs {
  background: #e8e4da;
  height: 35px;
  margin: 0;
  margin-bottom: 10px;
  border-radius: 5px; }
  .breadcrumbs .breadcrumbs_container {
    padding: 8px 0 0 10px; }
    .breadcrumbs .breadcrumbs_container p {
      margin: 0; }
      .breadcrumbs .breadcrumbs_container p .slash {
        margin: 0 5px 0 5px;
        color: #887f69; }
    .breadcrumbs .breadcrumbs_container .breadcrumbs_text a {
      text-decoration: none;
      color: #887f69; }
    .breadcrumbs .breadcrumbs_container .breadcrumbs_home {
      display: inline-block;
      background-repeat: no-repeat;
      background-image: url("../images/list/home_icon.png");
      background-position: left;
      padding-left: 20px; }

#list_cover_area img {
  width: 100%;
  margin-bottom: 5px; }

/* #back_next_navi
----------------------------------------------------------------*/
.back_next_navi {
  margin: 20px 0 3px 0; }

.back_navi_a {
  text-decoration: none;
  text-align: center;
  float: left; }
  .back_navi_a .back_navi {
    box-sizing: border-box;
    background: #887f69;
    color: #f9f8f6;
    text-transform: uppercase;
    width: 120px;
    height: 40px;
    font-weight: bold;
    padding-top: 10px;
    margin-top: 0; }

.next_navi_a {
  text-decoration: none;
  text-align: center; }
  .next_navi_a .next_navi {
    box-sizing: border-box;
    background: #887f69;
    color: #f9f8f6;
    text-transform: uppercase;
    width: 120px;
    height: 40px;
    font-weight: bold;
    padding-top: 10px;
    margin-top: 0;
    float: right; }

/* products.html
----------------------------------------------------------------*/
/* .product_name
----------------------------------------------------------------*/
.products_back {
  background: white;
  margin: 0 -2.5% 0 -2.5%; }
  @media (min-width: 550px) {
    .products_back {
      margin: 0; } }
  .products_back .products_container {
    margin: auto;
    width: 95%;
    /* .product_img
    ----------------------------------------------------------------*/
    /* Color_Size
    ----------------------------------------------------------------*/
    /* price、Quantity、add Cart
    ----------------------------------------------------------------*/
    /* Description (商品説明)
    ----------------------------------------------------------------*/ }
    @media (min-width: 550px) {
      .products_back .products_container {
        width: 82.9%; } }
    .products_back .products_container .product_name_container {
      padding: 20px 0 16px 0;
      border-bottom: solid 1px #e8e4da;
      margin-bottom: 10px; }
      @media (min-width: 550px) {
        .products_back .products_container .product_name_container {
          padding: 40px 0 30px 0;
          margin-bottom: 20px; } }
      .products_back .products_container .product_name_container .product_name {
        font-size: 1.4rem;
        font-weight: bold; }
        @media (min-width: 550px) {
          .products_back .products_container .product_name_container .product_name {
            float: left; } }
      .products_back .products_container .product_name_container .serial_number {
        font-size: 1rem;
        color: #a6a6a6; }
        @media (min-width: 550px) {
          .products_back .products_container .product_name_container .serial_number {
            float: right; } }
    .products_back .products_container .product_img_container {
      border-bottom: solid 1px #e8e4da;
      padding-bottom: 11px; }
      @media (min-width: 550px) {
        .products_back .products_container .product_img_container {
          padding-bottom: 6px; } }
      .products_back .products_container .product_img_container #display_img {
        margin-bottom: 4px; }
        @media (min-width: 550px) {
          .products_back .products_container .product_img_container #display_img {
            float: left;
            width: 70.6%;
            margin-bottom: 0; } }
        .products_back .products_container .product_img_container #display_img img {
          width: 100%; }
      .products_back .products_container .product_img_container #list_img {
        list-style-type: none;
        padding: 0;
        margin: 0;
        height: auto; }
        @media (min-width: 550px) {
          .products_back .products_container .product_img_container #list_img {
            float: right;
            width: 29.3%; } }
        .products_back .products_container .product_img_container #list_img li {
          float: left;
          width: 18.4%;
          margin-right: 2%;
          font-size: 0; }
          @media (min-width: 550px) {
            .products_back .products_container .product_img_container #list_img li {
              float: left;
              width: 44.1%;
              margin-left: 5%;
              margin-bottom: 5%;
              margin-right: 0%; } }
          .products_back .products_container .product_img_container #list_img li img {
            width: 100%; }
        .products_back .products_container .product_img_container #list_img .sp_menu_item_early {
          margin-bottom: 2%; }
          @media (min-width: 550px) {
            .products_back .products_container .product_img_container #list_img .sp_menu_item_early {
              margin-bottom: 5%; } }
        .products_back .products_container .product_img_container #list_img #menu_item_05, .products_back .products_container .product_img_container #list_img #menu_item_10 {
          margin-right: 0; }
    .products_back .products_container .color_container {
      margin-bottom: 20px; }
      .products_back .products_container .color_container .color_img {
        margin: 17px 0 17px 0; }
        @media (min-width: 550px) {
          .products_back .products_container .color_container .color_img {
            margin: 20px 0 20px 0; } }
      .products_back .products_container .color_container .color_table {
        width: 100%; }
        .products_back .products_container .color_container .color_table th, .products_back .products_container .color_container .color_table td {
          text-align: center;
          border: solid 1px #e8e4da;
          height: 40px;
          color: #887f69;
          /* checkbox
          ----------------------------------------------------------------*/ }
          .products_back .products_container .color_container .color_table th .checkbox01-input, .products_back .products_container .color_container .color_table td .checkbox01-input {
            display: none; }
          .products_back .products_container .color_container .color_table th .checkbox01-parts, .products_back .products_container .color_container .color_table td .checkbox01-parts {
            position: relative;
            margin-right: 20px; }
          .products_back .products_container .color_container .color_table th .checkbox01-parts::before, .products_back .products_container .color_container .color_table td .checkbox01-parts::before {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 15px;
            height: 15px;
            border: 1px solid #e8e4da;
            border-radius: 4px; }
          .products_back .products_container .color_container .color_table th .checkbox01-input:checked + .checkbox01-parts, .products_back .products_container .color_container .color_table td .checkbox01-input:checked + .checkbox01-parts {
            color: #009a9a; }
          .products_back .products_container .color_container .color_table th .checkbox01-input:checked + .checkbox01-parts::after, .products_back .products_container .color_container .color_table td .checkbox01-input:checked + .checkbox01-parts::after {
            content: "";
            display: block;
            position: absolute;
            top: -5px;
            left: 5px;
            width: 7px;
            height: 14px;
            transform: rotate(40deg);
            border-bottom: 3px solid #887f69;
            border-right: 3px solid #887f69; }
        .products_back .products_container .color_container .color_table th {
          background: #f9f8f6; }
        .products_back .products_container .color_container .color_table .td_title {
          background: #f9f8f6; }
    @media (min-width: 550px) {
      .products_back .products_container .price_cart_container {
        border-bottom: solid 1px #e8e4da; } }
    .products_back .products_container .price_cart_container .price_quantity_container {
      width: 100%; }
      @media (min-width: 550px) {
        .products_back .products_container .price_cart_container .price_quantity_container {
          float: left;
          width: 57%; } }
      .products_back .products_container .price_cart_container .price_quantity_container .price_container {
        padding: 25px 0 25px 0;
        border-top: solid 1px #e8e4da;
        border-bottom: solid 1px #e8e4da; }
        @media (min-width: 550px) {
          .products_back .products_container .price_cart_container .price_quantity_container .price_container {
            padding: 24px 0 24px 0; } }
        @media (min-width: 550px) {
          .products_back .products_container .price_cart_container .price_quantity_container .price_container img {
            float: left;
            display: inline-block; } }
        .products_back .products_container .price_cart_container .price_quantity_container .price_container .price_text p {
          height: 20px;
          margin: -30px 0 0 40%; }
          @media (min-width: 550px) {
            .products_back .products_container .price_cart_container .price_quantity_container .price_container .price_text p {
              float: left;
              display: inline-block;
              margin: -12px 0 0 20%; } }
          .products_back .products_container .price_cart_container .price_quantity_container .price_container .price_text p .price {
            color: #e80f66;
            font-size: 2.2rem; }
            .products_back .products_container .price_cart_container .price_quantity_container .price_container .price_text p .price .yen {
              font-size: 1.4rem; }
          .products_back .products_container .price_cart_container .price_quantity_container .price_container .price_text p .price_tax {
            font-size: 1.4prem; }
      .products_back .products_container .price_cart_container .price_quantity_container .quantity_container {
        padding: 12px 0 12px 0;
        width: 100%;
        margin: 0;
        margin-bottom: 15px;
        border-bottom: solid 1px #e8e4da; }
        @media (min-width: 550px) {
          .products_back .products_container .price_cart_container .price_quantity_container .quantity_container {
            border-bottom: none;
            padding: 15px 0 15px 0;
            margin-bottom: 0; } }
        .products_back .products_container .price_cart_container .price_quantity_container .quantity_container img {
          display: inline-block;
          float: left;
          padding-top: 15px; }
        .products_back .products_container .price_cart_container .price_quantity_container .quantity_container .quantity_color {
          float: left;
          display: inline-block;
          width: 46%;
          height: 40px;
          background: white;
          border: solid 1px #e8e4da;
          margin-left: 13%; }
    .products_back .products_container .price_cart_container .add_cart_img_container {
      text-align: center; }
      @media (min-width: 550px) {
        .products_back .products_container .price_cart_container .add_cart_img_container .add_cart_img {
          float: right; } }
    .products_back .products_container .description_container {
      padding-bottom: 33px; }
      @media (min-width: 550px) {
        .products_back .products_container .description_container {
          padding-bottom: 80px; } }
      .products_back .products_container .description_container .description_title {
        padding: 30px 0 20px 0;
        font-size: 1.6rem;
        font-weight: bold;
        color: #887f69;
        border-bottom: solid 1px #887f69;
        margin-bottom: 30px; }
        @media (min-width: 550px) {
          .products_back .products_container .description_container .description_title {
            padding: 40px 0 20px 0; } }
      .products_back .products_container .description_container .description_subtitle {
        font-size: 1.6rem;
        font-weight: bold;
        color: #887f69;
        margin-bottom: 20px; }
      .products_back .products_container .description_container .description_text {
        font-size: 1.4rem;
        margin-bottom: 30px; }
      .products_back .products_container .description_container .description_table {
        width: 100%;
        height: 40px; }
        .products_back .products_container .description_container .description_table th, .products_back .products_container .description_container .description_table td {
          font-weight: normal;
          border: solid 1px #e8e4da;
          color: #887f69; }
        .products_back .products_container .description_container .description_table th {
          width: 28%;
          background: #f9f8f6; }
        .products_back .products_container .description_container .description_table td {
          padding: 12px; }

/*# sourceMappingURL=style.css.map */
